<!DOCTYPE html>
<html lang="en">
<head>
<title>Latest Torrent Movies</title>
<link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
<link rel="manifest" href="../assets/favicon/site.webmanifest">
<meta name="description" content="Latest torrent movies." />
<meta name="author" content="J" />
<meta name="og:type" content="Website" />
<meta name="og:site_name" content="Latest quality movies" />
<meta name="og:title" content="Latest Torrent listings" />
<meta name="og:description" content="Quality grade latest torrent listings" />
<meta name="og:url" content="http://cebushopping.com/movies" />
<meta name="og:locale" content="en_US" />
<meta name="og:image" content="http://cebushopping.com:25281/assets/cs_movie_torrents.png" />
<meta name="og:image:width" content="600" />
<meta name="og:image:height" content="315" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/movies.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body class="w3-light-grey w3-content">

    <p><%=error%></p>

</body>
</html>